*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}
.main{
    border: 10px solid red;
    width: 50%;
   
}
h1{
    
    font-size: 5rem;
    text-align: center;
}

.p{
    font-size: 3rem;
}

.a{
    display: flex;
    gap: 13rem;
   font-size: 3rem;
   font-weight: bold;
}
.b{
    border: 10px solid black;
}